.fundo{
    height: 100%;
    width: 100%;
    background-image: url(Imagens/LobbyDance.png);
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

*{
    color: white;
}

.aleatorio{
    background-color: black;
}

.gui{
    
}